#sticky {
  padding: 1em;
  background: lightcyan;
  box-shadow: 0 0 30px grey;
  height: 100%;
  width: 280px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  .avatar {
    float: left;
    margin: 0 1em 1em 0;

  }
  #activity_search {
    width: 200px;
  }
}
