h1 NonSolus

| Started as a Ruby on Rails learning course with one purpose to learn Rails and
  provide our colleages a way to hangout easier.

h2 HowTo

| ...

h3 Feature requests, bug reports

=link_to 'GitHub issues page', 'https://github.com/kalabiyau/NonSolus/issues'

h3 Team

=link_to 'Project Contributors', 'https://github.com/kalabiyau/NonSolus/graphs/contributors'

h3 Build Status

= link_to 'https://travis-ci.org/kalabiyau/NonSolus' do
  = image_tag 'https://api.travis-ci.org/kalabiyau/NonSolus.svg'
